.services{
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services h3{
    font-family: 'Philosopher', sans-serif;
}
.services table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 50px;
    font-family: 'Philosopher';
}
.services tr {
    border-bottom: 1px solid #E2E8F0;
  }
.services   th, td {
    border-collapse: collapse;
    padding: 30px;
    color: #718096;
  }
  .services th{
    color: black;
    padding: 10px 30px;
    font-weight: 400;
  }
.services .thead{
    background: #E2E8F0;;
}
.services table .red{
    color: #EC0B0B;
}
.services table .green{
    color: #099C0F;
}
.services input{
    border: 1px solid #E2E8F0;
    border-radius: 4px;
    padding: 10px;
}